{% extends "biblioteca/layout.html" %}

{% block body %}
  <h2>Reporte de Rentas</h2>

  <form method="get" action="{% url 'reporte_rentas' %}">
    {{ form.as_p }}
    <button class="btn btn-primary mb-4" type="submit">Generar Reporte</button>
  </form>

  {% if prestamos %}
    <h2>Resultados del Reporte</h2>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Libro</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Devolución</th>
            <th>Tipo de Bibliografía</th>
            <th>Idioma</th>
            <th>Empleado</th>
          </tr>
        </thead>
        <tbody>
          {% for prestamo in prestamos %}
            <tr>
              <td>{{ prestamo.libro.titulo }}</td>
              <td>{{ prestamo.fecha_prestamo }}</td>
              <td>{{ prestamo.fecha_devolucion }}</td>
              <td>{{ prestamo.libro.tipo_bibliografia }}</td>
              <td>{{ prestamo.libro.idioma }}</td>
              <td>{{ prestamo.empleado.nombre }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>No se encontraron resultados para los criterios seleccionados.</p>
  {% endif %}
{% endblock %}
